---
---

@import 'jekyll-theme-cayman';

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);

  @include large {
    padding: 0.5rem 0.6rem;
  }

  @include medium {
    padding: 0.3rem 0.4rem;
  }

  @include small {
    padding: 0.1rem 0.2rem;
  }
}

.main-content {
  h2 {
    margin-top: -0.5rem;
  }
}

.contactinfodiv {
  @include large{
  }

  @include medium{
  }

  @include small{
  display: inline-block;
  }
}

.contactinfospan {
  @include large {
  float:right;
  }

  @include medium {
  float:right;
  }

  @include small {
  }
}

.site-footer {
  padding-top: 1rem;
  margin-top: 1rem;
  border-top: solid 1px $hr-border-color;

  @include large {
    font-size: 0.75rem;
  }

  @include medium {
    font-size: 0.75rem;
  }

  @include small {
    font-size: 0.6rem;
  }
}